.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 3rem 1rem;
  max-width: 700px;
  margin: auto;
}

.container p {
  margin: 0 auto;
  padding: 1rem 0;
  font-size: .75rem;
  line-height: 1.25rem;
  color: #4D4D4D;
  max-width: 450px;
}

.container a {
  color: #2F51B2;
}

.image {
  margin: auto;
}

.image img {
  border-radius: 2px;
  box-shadow: 2px 2px 4px #4D4D4D;
  max-width: 200px;
}

.links a {
  font-style: italic;
  font-size: .75rem;
  color: #2F51B2;
  margin-right: 1rem;
}

.links a:visited {
  color: #2F51B2;
}
