.container {
  color: #4D4D4D;
  padding-top: 2rem;
}

.container header {
  margin-bottom: 1.65rem;
}

.container h1 {
  font-size: 1.75rem;
  font-weight: normal;
  margin: 0;
}

.container header a {
  font-style: italic;
}

.container a {
  color: #2F51B2;
}
